$white: rgba(255, 255, 255, 1);
$white-dark: rgba(255, 255, 255, 0.502972);
$yellow-light: rgba(255, 245, 228, 1);
$yellow-dark: rgba(245, 166, 35, 1);
$grey-light: rgba(85, 85, 85, 1);
$grey-mid: rgba(51, 51, 51, 0.5);
$black: rgba(51, 51, 51, 1);
