@import "../vars/_colors";
@import "../vars/_fonts";
@import "../vars/_breakpoints";

.home {
  padding: 365px 0 65px 0;
  height: 550px;
  // look with respect to: ".." = "src\theme" =>
  background: url('../images/home.jpg') no-repeat fixed center center;
  background-size: cover;
  display: flex;
  align-items: center;

  & .home-flex {
    @extend .flex-container;
    height: 306px;

    @include lg-d {
      margin: 0 20px 0 20px;
    }

    @include md-d {
      flex-wrap: wrap;
      margin: 0 20px 0 20px;
    }

    & .block-txt {
      width: calc(5 * 70px + 4 * 30px);
      margin-bottom: 60px;

      & p {
        margin: 0 0 28px 0;
        width: fit-content;
        padding: 0 9px 0 9px;
        background: $grey-dark;
        border-radius: 3px;
        font-family: $font-Oswald;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $white;
      }

      & h1 {
        margin: 0 0 118px 0;
        font-family: $font-Oswald;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 80px;
        color: $white-light;

        @include md-d {
          margin: 0 0 30px 0;
        }
      }

      & .btn-arrow {
        text-decoration: none;
        font-family: $font-Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $white-light;
        display: flex;
        align-items: center;

        .circle {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: $white-light;
          display: flex;
          cursor: pointer;
          margin-right: 16px;

          img {
            margin: auto;
            object-fit: cover;
          }
        }
      }
    }

    & .banner-flex {
      display: flex;
      align-items: flex-end;

      @include xs-d {
        transform: scale(0.9);
        transform-origin: left;
      }


      & .block-banner {
        width: calc(5 * 70px + 4 * 30px);
        height: 192px;
        background: $yellow-light;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;

        & img {
          width: calc(2 * 70px + 1 * 30px);
          height: 192px;
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
        }

        & .banner-txt {
          width: calc(3 * 70px + 2 * 30px);
          padding: 27px 0 25px 0;
          font-style: normal;

          & p:first-child, p:nth-child(2) {
            font-family: $font-Oswald;
            line-height: 32px;
            color: $black;
          }

          & p:first-child {
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0 0 7px 0;
            display: inline-flex;
            background: $yellow-mid;
            border-radius: 3px;
            padding: 0 11px 0 10px;
          }

          & p:nth-child(2) {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            padding: 0 0 45px 0;
          }

          & .banner-txt-footer h6 {
            font-family: $font-Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: $grey-light;
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }







}
