#btnTop {
  bottom: 40px;
  right: 40px;
  position: fixed;
  transition: all 0.4s;
  z-index: 100;

  .circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
