.feedback__card:hover,
.feedback__card:focus {
    cursor: pointer;
    background: $yellow-dark;
    transform: perspective(1000px) translate3d(0, 0, 50px);
    box-shadow: -3px -3px 35px rgba(85, 85, 85, 0.7);
}
